<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Profile">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Profile</h1>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
            <div class="example-loading-shade " *ngIf="isLoadingAddressListResults && isLoadingProfileResults">
                <img class="fit-picture" src="assets/img/loading_bus.gif"
                    alt="Grapefruit slice atop a pile of other slices">
            </div>
            <mat-card class="example-card" *ngIf="!isLoadingAddressListResults && !isLoadingProfileResults">
                <!--<mat-card-title> Profile </mat-card-title>-->
                <img mat-card-image src="assets/img/default_profil.png" alt="Photo of you">
                <mat-card-content>
                    <mat-grid-list cols="2" rowHeight="6:1">
                        <mat-grid-tile> First Name </mat-grid-tile>
                        <mat-grid-tile><b> {{ profile.firstName }}</b> </mat-grid-tile>
                        <mat-grid-tile> Last Name </mat-grid-tile>
                        <mat-grid-tile><b> {{ profile.lastName }} </b></mat-grid-tile>
                        <mat-grid-tile> Mail </mat-grid-tile>
                        <mat-grid-tile><b> {{ profile.mail }} </b></mat-grid-tile>
                        <mat-grid-tile> phone </mat-grid-tile>
                        <mat-grid-tile><b> {{ profile.phoneNumber }}</b> </mat-grid-tile>
                        <mat-grid-tile> Account Validated </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-icon *ngIf="profile.isValid" aria-hidden="false" aria-label="Ok">done_all</mat-icon>
                            <mat-icon *ngIf="!profile.isValid" aria-hidden="false" aria-label="Not ok">clear</mat-icon>
                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
                <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
                    <div class="button-row">
                        <button type="button" mat-flat-button color="primary" routerLink="edit">Edit</button>

                        <button type="button" mat-flat-button color="primary" routerLink="address">Add Address</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Addresses">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Addresses</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="example-card" *ngFor="let address of user?.addressList">
                <mat-card-title><b><i>{{ address.typeAddress.name }}</i></b></mat-card-title>
                <mat-list>
                    <mat-list-item> Adresse : <b>{{ address.address }}</b> </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> City : <b>{{ address.city }} </b></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> PostalCode : <b>{{ address.postalCode }} </b></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> Region :<b> {{ address.region }}</b> </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item> Country :<b> {{ address.country }}</b> </mat-list-item>
                </mat-list>
                <div class="button-row">
                    <button type="button" mat-flat-button color="primary"
                        [routerLink]="['address/edit', address.externalId ]">Edit</button>
                </div>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Commande">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Commandes</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let commande of commandes?.commandeList">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{commande.externalId}} - {{ commande.totalCost }} {{ commande.currency}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ commande.stripeEmail}} - {{ commande.paiementDate | date: 'medium': 'fr'}} <br/>
                      {{commande.fullAddress}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  
                  <table mat-table [dataSource]="commande?.commandeSessionOutDtoList" style="width: 550px;">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th mat-header-cell *matHeaderCellDef> Adventure Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.adventureName}} </td>
                    </ng-container>
                
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>
                
                    <!-- Weight Column -->
                    <ng-container matColumnDef="weight">
                      <th mat-header-cell *matHeaderCellDef> Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.price}} €</td>
                    </ng-container>
                
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="start">
                      <th mat-header-cell *matHeaderCellDef> Start Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="end">
                        <th mat-header-cell *matHeaderCellDef> End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
                  
                  <!--<mat-list >
                    <mat-list-item *ngFor="let commandeSession of commande?.commandeSessionOutDtoList"> 
                        {{commandeSession.adventureName}} - {{commandeSession.quantity}} - {{commandeSession.price}} - {{commandeSession.startDate}} - {{commandeSession.endDate}}
                        <mat-divider></mat-divider>
                    </mat-list-item>
                   
                
                </mat-list>-->
                  
                </mat-expansion-panel>
                

              </mat-accordion>
        </div>
    </mat-tab>
</mat-tab-group>