<div class="example-container mat-elevation-z8 main-div">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <img class="fit-picture"
     src="assets/img/loading_bus.gif"
     alt="Grapefruit slice atop a pile of other slices">
    </div>
    <mat-card class="example-card" *ngIf="!isLoadingResults">
      <mat-card-title> Login </mat-card-title>
      <mat-error>
        <span *ngIf="error">Mail / Password invalid.</span>
      </mat-error>
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput type="mail" placeholder="mail" formControlName="mail"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('mail').valid && loginForm.get('mail').touched">Please enter your mail</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" formControlName="password"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
        </div>
        <div class="button-row">
          <button type="button" mat-flat-button color="primary" (click)="register()">Register</button>
        </div>
      </form>
    </mat-card>
  </div>
