<div class="example-container mat-elevation-z8 main-div">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <img class="fit-picture"
    src="assets/img/loading_bus.gif"
    alt="Grapefruit slice atop a pile of other slices">
  </div>
  <mat-card class="example-card" *ngIf="!isLoadingResults">
    <mat-card-title> Register </mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)" >
      <mat-form-field class="example-full-width">
        <input matInput type="firstName" placeholder="First Name" formControlName="firstName"
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!f.firstName.valid && f.firstName.touched">Please enter your First Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="lastName" placeholder="Last Name" formControlName="lastName"
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!f.lastName.valid && registerForm.get('lastName').touched">Please enter your Last Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="mail" placeholder="Write here your Email" formControlName="mail"
          [errorStateMatcher]="matcher">
        <div *ngIf="f.mail.invalid && (f.mail.dirty || f.mail.touched)">
          <mat-error>
            <span *ngIf="f.mail.errors.required">Please enter your mail</span>
            <span *ngIf="f.mail.errors.existingValue">Your mail is already used.</span>
          </mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput type="phoneNumber" placeholder="How can we call you ?" formControlName="phoneNumber"
          [errorStateMatcher]="matcher">
        <div *ngIf="f.phoneNumber.invalid && (f.phoneNumber.dirty || f.phoneNumber.touched)">
          <mat-error>
            <span *ngIf="f.phoneNumber.errors.required">Please enter your Phone Number</span>
            <span *ngIf="f.phoneNumber.errors.existingValue">Your phone number is already used.</span>
          </mat-error>
        </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="password" formControlName="password">
        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
          <mat-error>
            <span *ngIf="f.password.errors.required">Please enter your password.</span>
            <span *ngIf="f.password.errors.minLength">Enter at least 6 characters.</span>
          </mat-error>
      </div>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="confirmPassword" placeholder="confirmPassword" formControlName="confirmPassword"
          [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').touched">Please
            confirm your password</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!registerForm.valid" mat-flat-button color="primary">Register</button>
      </div>
    </form>
  </mat-card>
</div>