  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
  <h1 class="cover-heading">Sessions</h1>

  <p class="lead">Liste des sessions disponibles<br></p>

</main>

<table mat-table [dataSource]="sessions" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let s"> {{s.externalId}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Start Date </th>
    <td mat-cell *matCellDef="let s"> {{s.startDate | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> End Date </th>
    <td mat-cell *matCellDef="let s"> {{s.endDate | date:"dd/MM/yyyy"}} </td>
  </ng-container>
    
  <ng-container matColumnDef="limitBookingDate">
    <th mat-header-cell *matHeaderCellDef> Limit Booking Date </th>
    <td mat-cell *matCellDef="let s"> {{s.limitBookingDate | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let s"> {{s.price}} </td>
  </ng-container>

  <ng-container matColumnDef="totalAvailablePlace">
    <th mat-header-cell *matHeaderCellDef> Available Places </th>
    <td mat-cell *matCellDef="let s"> {{s.totalAvailablePlace}} </td>
  </ng-container>

  <ng-container matColumnDef="button">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let s">
      <add-to-cart [item]="s" [type]="'dropdown'"
        [dropdown]="[{ label: '1', value: 1 }, { label: '2', value: 2 }]">
      </add-to-cart>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>


</div>