#descriptionCategoryTitle{
    font-size: 35px;
}
#descriptionCategory {
    font-size: 18px;
    color: #000080;
    font-family: "Times New Roman", Times, serif;
    line-height: 27px;
    text-align: justify;
}

.example-card {
    margin-top: 2%;
}

#listtypeadv {
    text-align: left;
  }