
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title id="descriptionCategoryTitle"> Categories of WildAdventure </mat-card-title>
     
        <mat-card-subtitle id="descriptionCategory">
        Many people tell us that they would love to travel like we do, 
        but it just doesn’t fit with their lifestyle. We agree that our style of long term travel would not work for everyone.  However, we also think that there are so many different types of travel out there that you are bound to find something that works for you.
        </mat-card-subtitle>
    
    </mat-card-header>
    
    <mat-card-content>
     
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <div *ngIf="data">
            <mat-list *ngFor="let a of data">
              <mat-list-item id="listtypeadv">{{a.typeAdventure}}</mat-list-item>
                      
            </mat-list> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
             <app-category-detail></app-category-detail>
        </mat-grid-tile>
      </mat-grid-list>
    
    </mat-card-content>
  </mat-card>
       



