<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [completed]="authService.isLogged()">
        <ng-template matStepLabel>Validate your cart</ng-template>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Cart</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <app-cart-view [display]="'responsive-table'" [emptyText]="headers.empty" [nameHeaderText]="headers.name"
                [quantityHeaderText]="headers.quantity" [priceHeaderText]="headers.price"
                [totalHeaderText]="headers.total" [images]="false">

            </app-cart-view>
        </div>
    </mat-step>
    <mat-step [completed]="choosedAdress !== undefined">

        <ng-template matStepLabel>Chose your address</ng-template>
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Choose your Address</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="choosedAdress" required>
                <mat-radio-button class="example-radio-button" *ngFor="let address of addressList" [value]="address">
                    {{address.address}}, {{address.city}}, {{address.postalCode}}, {{address.region}},
                    {{address.country}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div>
                <button type="button" mat-flat-button color="primary" mat-button matStepperNext [disabled]="choosedAdress === undefined">Next</button>
                <button mat-button matStepperPrevious>Back</button>
                
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pay</ng-template>
        


        <div fxLayout="row" fxLayoutAlign="center center">
            <div>
                <p>Give us your money now.</p>
                <button type="button" mat-flat-button color="primary" mat-button (click)="pay(this.profilService)" >Pay By Credit Card</button>                
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </div>
    </mat-step>


    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>That's perfect.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>