<ng-container *ngIf="empty">
    <div *ngIf="!customEmptyContent" class="cart-view-empty">
      {{emptyText}}
    </div>
    <ng-content *ngIf="customEmptyContent"></ng-content>
  </ng-container>
  <ng-container *ngIf="!empty">
    <ng-container *ngIf="display !== 'table'">
      <div *ngIf="!empty" class="cart-view" [ngClass]="display + '-display'">
        <div class="cart-list-view" [ngClass]="{'no-images': !images}">
          <div class="cart-list-header">
            <div class="cart-list-header-value cart-list-image-header">
            </div>
            <div class="cart-list-header-value cart-list-name-header">
              {{nameHeaderText}}
            </div>
            <div class="cart-list-header-value cart-list-quantity-header">
              {{quantityHeaderText}}
            </div>
            <div class="cart-list-header-value cart-list-price-header">
              {{priceHeaderText}}
            </div>
            <div class="cart-list-header-value cart-list-total-header">
              {{totalHeaderText}}
            </div>
          </div>
          <div *ngFor="let cartItem of items" class="cart-list-item">
            <div class="cart-list-value cart-list-image-value"
                 [ngStyle]="{'background-image': 'url(' + cartItem.getImage() + ')'}">
            </div>
            <div class="cart-list-value cart-list-name-value">
              {{cartItem.getName()}}
            </div>
            <div class="cart-list-value cart-list-quantity-value">
              <button type="button" class="cart-increase-button" (click)="increase(cartItem)">
                +
              </button>
              <span class="cart-list-quantity-content">{{cartItem.getQuantity()}}</span>
              <button type="button" class="cart-decrease-button" (click)="decrease(cartItem)">
                -
              </button>
            </div>
            <div class="cart-list-value cart-list-price-value">
              {{cartItem.getPrice() | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
            </div>
            <div class="cart-list-value cart-list-total-value">
              {{cartItem.total() | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
            </div>
          </div>
          <div class="cart-list-footer">
            <div class="cart-list-summary">
              <div class="cart-empty-summary" *ngIf="images"></div>
              <div class="cart-empty-summary"></div>
              <div class="cart-empty-summary"></div>
              <div class="cart-empty-summary"></div>
              <div class="cart-total-summary">
                {{totalFooterText}}:
                {{cost | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="display === 'table'">
      <table class="cart-view table-display">
        <thead class="cart-list-header">
        <tr>
          <th class="cart-list-header-value cart-list-image-header" *ngIf="images"></th>
          <th class="cart-list-header-value cart-list-name-header">{{nameHeaderText}}</th>
          <th class="cart-list-header-value cart-list-quantity-header">{{quantityHeaderText}}</th>
          <th class="cart-list-header-value cart-list-price-header">{{priceHeaderText}}</th>
          <th class="cart-list-header-value cart-list-total-header">{{totalHeaderText}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cartItem of items">
          <td class="cart-list-value cart-list-image-value" *ngIf="images"
              [ngStyle]="{'background-image': 'url(' + cartItem.getImage() + ')'}">
          </td>
          <td class="cart-list-value cart-list-name-value">{{cartItem.getName()}}</td>
          <td class="cart-list-value cart-list-quantity-value">
            <button type="button" class="cart-increase-button" (click)="increase(cartItem)">
              +
            </button>
            <span class="cart-list-quantity-content">{{cartItem.getQuantity()}}</span>
            <button type="button" class="cart-decrease-button" (click)="decrease(cartItem)">
              -
            </button>
          </td>
          <td class="cart-list-value cart-list-price-value">
            {{cartItem.getPrice() | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
          </td>
          <td class="cart-list-value cart-list-total-value">
            {{cartItem.total() | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
          </td>
        </tr>
        </tbody>
        <tfoot class="cart-list-footer">
            <tr class="cart-list-summary">
              <td [attr.colspan]="images ? 4 : 3" class="cart-empty-summary"></td>
              <td class="cart-total-summary">
                {{totalFooterText}}:
                {{cost | currency:format.currencyCode:format.display:format.digitsInfo:format.locale}}
              </td>
            </tr>
            </tfoot>
      </table>
    </ng-container>
    <button *ngIf="authService.isLogged()" type="button" mat-flat-button color="primary" mat-button matStepperNext>Validate Cart</button>
    <button *ngIf="!authService.isLogged()" type="button" mat-flat-button color="primary" mat-button (click)="navigate('login')">Connect to continue</button>
  </ng-container>