<form class="example-form" >
  <div id="example-card">
    <mat-form-field class="example-full-width">

      <mat-label>Select a category</mat-label>


      <mat-select>
        <mat-option [routerLink]="['/adventure']">-----</mat-option>
        <mat-option *ngFor="let c of data" [value]="c" (click)="onSelect(c)" > 
         {{c.typeAdventure}}
        </mat-option>
      </mat-select>

    </mat-form-field>
  </div>
</form>

