
<div id="adv">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Wild Adventure</h1>
        <p class="lead">
           We offer over hundreds of sightseeing tours and activities around the world<br></p>
           <h4>Our world deserves more you</h4>
  
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
    </main>

    <mat-list id="listadventures" *ngFor="let a of data" >
       <div class="pointer"  id="detailsadv" *ngIf="data">
         {{a.nameAdventure}},{{a.locationAdventure}}<br/>
          <button mat-raised-button color="primary" (click)="onClick(a)" id="detailsbutton" >for details</button>
        </div><br/><br/>
      <p id="catdetail"> <app-category-detail></app-category-detail></p>
    </mat-list>

   <div class="col-sm-6">
      <div class="details" *ngIf="selectedAdventure">
        <app-adventure-detail [a]="selectedAdventure"></app-adventure-detail>
      </div>
   </div>
 
  </div>
</div>

