body {
    height: 100%;
    background-color:#DAF0EB;
  }
  
  body {
    display: -ms-flexbox;
    display: flex;
    color: rgb(8, 12, 6);
    //box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  }
  
  #adv {

    margin-left: 5%;
  }

  #detailsbutton {
    margin-right: 50%;
  }

  #detailsadv {
    line-height: 27px;
    width: auto;

  }

  #catdetail {
    position: absolute;
    left: 50%;
    top: 60px;
  }