<mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item
        routerLink="/">
      <mat-icon class="icon">home</mat-icon>
        <span class="label">Home</span>
    </a>
    <a  mat-list-item
        type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a routerLink="/">
        Adventure Wild
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li>
            <a
              routerLink="/adventure">
                <mat-icon class="icon">airplanemode_active</mat-icon>
                <span class="label">Adventures</span>
            </a>
          </li>
            <li *ngIf="!authService.isLogged()">
                <a routerLink="/login">
                  <mat-icon class="icon">input</mat-icon>
                  <span  class="label">Login</span>
                 </a>
            </li>
            <li *ngIf="!authService.isLogged()">
              <a routerLink="/register">
                <mat-icon class="icon">input</mat-icon>
                <span  class="label">Register</span>
               </a>
          </li>            
            <li>
              <a
                routerLink="/cart">
                  <mat-icon class="icon">shopping_cart</mat-icon>
                  <span class="label">Cart</span>
              </a>
            </li>
              <li>
                <a
                  routerLink="/profile">
                    <mat-icon class="icon">account_circle</mat-icon>
                    <span class="label">Profile</span>
                </a>
              </li>
            <li *ngIf="authService.isLogged()"> 
                <a (click)="authService.logout()">
                  <mat-icon class="icon">input</mat-icon>
                  <span class="label">LogOut</span>
                 </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>