    

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{typeAdventure}}</mat-card-title>
        <mat-card-subtitle>Type adventure</mat-card-subtitle>
      </mat-card-header>
      
      <mat-card-content>
        <mat-list *ngFor="let adv of category.adventureList">
          <mat-list-item (click)="onHover(adv)" id="typeAdventureHover">  <mat-icon>card_travel</mat-icon>   {{adv.nameAdventure}},{{adv.locationAdventure}}
            &emsp;
            <button mat-button color="primary" (click)="onClick(adv)">See available session</button>
            </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        
        
      </mat-card-actions>
    </mat-card>
    