.details{
    margin-left: 40px;
    margin-top: 20px;
    font-family: 'Asap', sans-serif;
    color: #004d00;
}
.minfo{
    font-family: 'Asap', sans-serif;
    color: #0f2b0f;
    font-style: italic;
}
.infodetail{
    font-weight: bold;
}