<!-- <div class="details"> -->
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Where do you want to go?</mat-card-title>
      <mat-card-subtitle>your destination..</mat-card-subtitle>
    </mat-card-header>
  
    
    
     <mat-list>
     
     <mat-list-item> <span class="infodetail">Name : </span> {{a.nameAdventure}} </mat-list-item>
     <mat-list-item> <span class="infodetail">Location : </span> {{a.locationAdventure}} </mat-list-item>
     <mat-list-item> <span class="infodetail">Rating : </span> {{a.adventureRating}} 
      
      <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
      <mat-icon>favorite</mat-icon></button> </mat-list-item>
    </mat-list>

  <mat-tab-group >
    <mat-tab *ngFor="let c of a.categoryList">
      <ng-template mat-tab-label>
        <button mat-button color="primary" a [routerLink]="['/category']">{{c.typeAdventure}}</button>
     
      </ng-template>
     
    </mat-tab>
  </mat-tab-group>
     
     
      <button mat-button color="primary" (click)="onClick(a)">See availables sessions</button>
      <p> {{a.descriptionAdventure}} </p>
     
      <form class="example-form" [formGroup]="commentForm" (ngSubmit)="onFormSubmit(commentForm.value)">
    
          <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput type="comment" placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!commentForm.valid" mat-flat-button color="primary">Add your comment</button>
        </div>
      </form>
      

  

 
  
