<div class="example-container mat-elevation-z8" *ngIf="!isLoading">
    <mat-card class="example-card">
    <mat-card-title> Validation </mat-card-title>
    <mat-card-content >
        <mat-error *ngIf="isError == false">
            Nous n'avons pas pu activer votre compte, désolé ...
        </mat-error>
        <p *ngIf="isError">
            Votre Compte est validé mon Beau !
        </p>
    </mat-card-content>
    </mat-card>
</div>
