<div class="example-container mat-elevation-z8 main-div">
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
       <img class="fit-picture"
      src="assets/img/loading_bus.gif"
      alt="Grapefruit slice atop a pile of other slices">
    </div>
    <mat-card class="example-card" *ngIf="!isLoadingResults">
      <mat-card-title> Edit your profile </mat-card-title>

      <!-- <img mat-card-image src="assets/img/default_profil.png" alt="Photo of you">
      <button type="button" md-button (click)="imgFileInput.click()">Add a photo</button>
      <input hidden type="file" #imgFileInput/> -->

      <form [formGroup]="editForm" (ngSubmit)="onFormSubmit(editForm.value)" class="example-form">
        <mat-form-field class="example-mid-width">
          <input matInput type="firstName" placeholder="First Name" formControlName="firstName"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!editForm.get('firstName').valid && editForm.get('firstName').touched">Please enter your First Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-mid-width">
          <input matInput type="lastName" placeholder="Last Name" formControlName="lastName" 
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!editForm.get('lastName').valid && editForm.get('lastName').touched">Please enter your Last Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="mail" placeholder="Write here your Email" formControlName="mail"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!editForm.get('mail').valid && editForm.get('mail').touched">Please enter your mail</span>
          </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input matInput type="phoneNumber" placeholder="How can we call you ?" formControlName="phoneNumber"
        [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!editForm.get('phoneNumber').valid && editForm.get('phoneNumber').touched">Please enter your Phone Number</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!editForm.valid" mat-flat-button color="primary">Edit</button>
        </div>
      </form>
    </mat-card>
  </div>
