.example-container {
    position: relative;
    padding: 5px;
  }
  
  .example-form {
    min-width: 75px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-mid-width {
    width: 50%;
  }

  .example-full-width {
    width: 100%;
  }
  
  .example-full-width:nth-last-child(1) {
    margin-bottom: 10px;
  }
  
  .button-row {
    margin: 10px 0;
  }
  
  .mat-flat-button {
    margin: 5px;
  }
  
  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }