#clickAdventure {
    height:48px !important;
    width:1200px !important;
    font-size:40px !important;
}

#comment {
    margin-left: 5em;
    margin-right: 5em;
    box-shadow: 0.1px 1px 2px rgb(63, 39, 167);
    padding-left: 0.5em;
}

#commentHeader {
    color: rgb(63, 39, 167);
}

#content {
    margin-left: 1em; 
}

#formField {
    width: 70%;
    margin-left: 5em;
    margin-right: 20em;
}

#button-row {
    margin-left: 5em;
}


