<!-- <div class="details"> -->
  
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Where do you want to go?</mat-card-title>
          <mat-card-subtitle>your destination..</mat-card-subtitle>
        </mat-card-header>
      
        
        
         <mat-list>
         
         <mat-list-item> <span class="infodetail">Name : </span> {{adventure.nameAdventure}} </mat-list-item>
         <mat-list-item> <span class="infodetail">Location : </span> {{adventure.locationAdventure}} </mat-list-item>
         <mat-list-item> <span class="infodetail">Rating : </span> {{adventure.adventureRating}} 
          
          <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon></button> </mat-list-item>
        </mat-list>
    
      <mat-tab-group >
        <mat-tab *ngFor="let c of adventure.categoryList">
          <ng-template mat-tab-label>
            <button mat-button color="primary" a [routerLink]="['/category']">{{c.typeAdventure}}</button>
         
          </ng-template>
         
        </mat-tab>
      </mat-tab-group>
         
         <mat-card-content>
          <button mat-flat-button color="primary" id="clickAdventure" (click)="onClick(adventure)">See an available session to try this adventure</button>
           <p> {{adventure.descriptionAdventure}} </p>    
        </mat-card-content>
      
        <mat-card-actions>
        <form class="example-form" [formGroup]="commentForm" (ngSubmit)="onFormSubmit(commentForm.value)">
          <mat-form-field id="formField">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput type="comment" placeholder="Comment" formControlName="comment"></textarea>
          </mat-form-field>
          <div id="button-row">
            <button *ngIf="authService.isLogged()" type="submit" mat-flat-button color="primary">Add comment</button>
            <button *ngIf="!authService.isLogged()" type="button" mat-flat-button color="primary" mat-button (click)="navigate('login')">Connect to add comment</button>
        </div>
        </form><br/>
    </mat-card-actions>
      </mat-card>

      <mat-list class="commentDiv" *ngFor="let c of commentsList">
          <div id="comment" *ngIf="commentsList">
            <div id="commentHeader">
              <br/>{{c.userOutDto.firstName}} {{c.userOutDto.lastName}}
              {{c.dateComment | date:'dd/MM/yyyy hh:mm'}} <br/><br/>
            </div>
            <div id="content">
              {{c.commentInput}} <br/><br/>
            </div>           
          </div>
      </mat-list>
    
      

     
      
     
     