<div class="example-container mat-elevation-z8 main-div">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
      <img class="fit-picture"
      src="assets/img/loading_bus.gif"
      alt="Grapefruit slice atop a pile of other slices">
    </div>
    <mat-card class="example-card" *ngIf="!isLoadingResults">
      <mat-card-title> Add an address </mat-card-title>
      <form [formGroup]="addressForm" (ngSubmit)="onFormSubmit(addressForm.value)" >
        <mat-form-field class="example-full-width">
          <input matInput type="address" placeholder="Your address" formControlName="address"
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!f.address.valid && f.address.touched">Please enter your Address</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="city" placeholder="Your City" formControlName="city"
            [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!f.city.valid && f.city.touched">Please enter your City</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="region" placeholder="Write here your Region" formControlName="region"
            [errorStateMatcher]="matcher">
          <div *ngIf="f.region.invalid && (f.region.dirty || f.region.touched)">
            <mat-error>
              <span *ngIf="f.region.errors.required">Please enter your Region</span>
            </mat-error>
          </div>
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput type="postalCode" placeholder="Postal Code" formControlName="postalCode"
            [errorStateMatcher]="matcher">
          <div *ngIf="f.postalCode.invalid && (f.postalCode.dirty || f.postalCode.touched)">
            <mat-error>
              <span *ngIf="f.phoneNumber.errors.required">Please enter your Postal code.</span>
            </mat-error>
          </div>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="country" placeholder="country" formControlName="country" [errorStateMatcher]="matcher">
          <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)">
            <mat-error>
              <span *ngIf="f.country.errors.required">Please enter your country.</span>
            </mat-error>
        </div>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Address Type</mat-label>
            <mat-select formControlName="typeAddressExternalId">
              <mat-option *ngFor="let type of typeAddressList" [value]="type.externalId">
                {{type.name}}
              </mat-option>
            </mat-select>
            <div *ngIf="f.typeAddressExternalId.invalid && (f.typeAddressExternalId.dirty || f.typeAddressExternalId.touched)">
              <mat-error>
                <span *ngIf="f.typeAddressExternalId.errors.required">Please select your address type.</span>
              </mat-error>
          </div>
          </mat-form-field>
        
        <div class="button-row">
          <button type="submit" [disabled]="!addressForm.valid" mat-flat-button color="primary">Register Address</button>
        </div>
      </form>
    </mat-card>
  </div>